<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>03_template문법</title>
</head>
<body>
  <div id="app">
    <h1>{{msg1}}</h1>
    <div>
      <p>지금 배워볼 부분은 🟡<span v-if='show'> Template 문법 </span>🟡 입니다</p>
    </div>
    <ul>
      <li v-for="item in items">{{item}}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script>
    // 인스턴스 선언 (vm 인스턴스를 만든다)
    var vm = new Vue({
      el: '#app',
      data: {
        msg1: 'Vue를 배워봅시다~!',
        show: true,
        items: ['치킨', '피자', '케이크', '마라탕', '양꼬치',]
      }
    })
  </script>
  <!-- 
    Vue의 Template 문법 : 뷰로 화면을 조작하는 방법
    1. 데이타 바인딩
      data:{} : 데이타 바인딩 뷰 인ㄴ스턴스에서 정의한 속성들을 화면에 표시하는 방법
    2. 디렉티브(directive)
      뷰로 화면요소를 더 쉽게 조작하기 위한 프로그래밍적 문법
      v-if
      v-for = '아이템이름 in 배열명' {{아이템이름}}
  -->
</body>
</html>